<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- 通用网关配置模板 - 便于分发 -->

  <!-- 网络配置 -->
  <appSettings>
    <!-- 服务器配置 -->
    <add key="DefaultServerIP" value="0.0.0.0" />
    <add key="DefaultServerPort" value="8000" />
    <add key="EnableDualIP" value="false" />
    <add key="SecondaryServerIP" value="" />

    <!-- 安全配置 -->
    <add key="EnableAttackDefense" value="true" />
    <add key="AutoBanAttackIP" value="true" />
    <add key="MaxConnectionsPerIP" value="5" />
    <add key="AttackDetectionTimeWindow" value="10" />

    <!-- 远程管理配置 -->
    <add key="RemoteDesktopCompressionRate" value="50" />
    <add key="RemoteDesktopWidth" value="1024" />
    <add key="RemoteDesktopHeight" value="768" />

    <!-- 自动重启配置 -->
    <add key="EnableAutoRestart" value="false" />
    <add key="AutoRestartInterval" value="1440" />

    <!-- 数据库配置模板 -->
    <add key="DatabaseType" value="MySQL" />
    <add key="DatabaseHost" value="localhost" />
    <add key="DatabasePort" value="3306" />
    <add key="DatabaseUser" value="root" />
    <add key="DatabasePassword" value="" />
    <add key="LoginServerDatabase" value="aion_ls" />
    <add key="GameServerDatabase" value="aion_gs" />
    <add key="DatabaseCharset" value="utf8" />

    <!-- 邮件通知配置 -->
    <add key="SMTPServer" value="" />
    <add key="SMTPPort" value="587" />
    <add key="EmailUser" value="" />
    <add key="EmailPassword" value="" />

    <!-- 启动器配置 -->
    <add key="LauncherName" value="游戏启动器" />
    <add key="LauncherBin32" value="bin32/aion.exe" />
    <add key="LauncherBin64" value="bin64/aion.exe" />
    <add key="LauncherArgs" value="-cc:5 -lang:chs -noauthgg -noweb -nb -gv -megaphone -multithread -charnamemenu" />
    <add key="LauncherAllowMultiple" value="false" />

    <!-- 文件下载配置 -->
    <add key="DownloadPort" value="8080" />

    <!-- 日志配置 -->
    <add key="EnableSocketLog" value="false" />
    <add key="EnableDebugMode" value="false" />

    <!-- 特殊功能配置 -->
    <add key="DisablePasswordReset" value="false" />
    <add key="PreventEarlyLogin" value="false" />

    <!-- 外挂检测配置 -->
    <add key="EnableCheatDetection" value="true" />
    <add key="CheatDetectionAction" value="block" />

  </appSettings>

  <!-- 连接字符串模板 -->
  <connectionStrings>
    <add name="LoginServer" connectionString="Server=localhost;Port=3306;Database=aion_ls;Uid=root;Pwd=;Charset=utf8;" providerName="MySql.Data.MySqlClient" />
    <add name="GameServer" connectionString="Server=localhost;Port=3306;Database=aion_gs;Uid=root;Pwd=;Charset=utf8;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

</configuration>